page-cadastro {
  .item {
    border-bottom: 2px solid darkred !important;
  }
  .textareaCadastro {
    width: 100%;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  ion-input {
    color: white;
  }
  textarea {
    opacity: 0.6;
    background-color: white;
    color: black;
  }
}
